APP_ENV=local
APP_DEBUG=true
APP_URL=http://laravel.dev
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_LOCALE_PHP=en_US
APP_KEY=SomeRandomString

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

MAIL_DRIVER=mail
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null


TEAMSPEAK_IP=127.0.0.1
TEAMSPEAK_PORT=9987
TEAMSPEAK_USER_NAME=user
TEAMSPEAK_PASSWORD=password

TWILIO_SID=sid
TWILIO_TOKEN=token
TWILIO_FROM=number
TWILIO_SSL=true